*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*******************************************/
/* Variables */
:root {
  --clr-primary-200: hsl(180, 29%, 50%);
  --clr-body-bg: hsl(180, 52%, 96%);
  --clr-categories-bg: hsl(180, 31%, 95%);
  --clr-neutral-300: hsl(180, 8%, 52%);
  --clr-neutral-500: hsl(180, 14%, 20%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-default: 'Spartan', sans-serif;
  --fs-default: 0.938rem;
  --border-r: 0.25rem;
  --card-shadow: 0 6px 12px 1px hsl(180, 14%, 20%, 0.1);
  --transition-fast: ease 200ms;
}

/*******************************************/
/* General Styles */
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-default);
  font-size: var(--fs-default);
  background-color: var(--clr-body-bg);
}

body::before {
  content: '';
  display: block;
  width: 100%;
  height: 9.75rem;
  background: url('../images/bg-header-mobile.svg') top center repeat-x, var(--clr-primary-200);
}

button {
  border: none;
  cursor: pointer;
  font-family: var(--ff-default);
  font-size: 0.75rem;
}

.hidden {
  display: none !important;
}

/*******************************************/
/* Main */
main {
  width: min(calc(100% - 3rem), 69.375rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Filter Container */
.filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.25rem 1rem;
  position: relative;
  top: -2.25rem;
  background-color: var(--clr-white);
  border-radius: var(--border-r);
  box-shadow: var(--card-shadow);
  padding: 1.25rem clamp(1.25rem, 4vw, 2.5rem);
  margin-block-end: 1.25rem;
}

.filter-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.categorie-btn {
  height: 1.875rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 700;
  color: var(--clr-primary-200);
  border-radius: var(--border-r);
  background-color: var(--clr-categories-bg);
  padding-inline: 0.5rem;
  transition: color var(--transition-fast), background-color var(--transition-fast);
}

.filter-categories .categorie-btn:hover .delete-icon,
.filter-categories .categorie-btn:focus-visible .delete-icon {
  background-color: var(--clr-neutral-500);
}

.categorie-btn span {
  position: relative;
  bottom: -2px;
  pointer-events: none;
}

.delete-icon {
  width: 2rem;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary-200);
  margin-inline-end: -0.5rem;
  border-radius: 0 var(--border-r) var(--border-r) 0;
  transition: background-color var(--transition-fast);
  pointer-events: none;
}

.clear-btn {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--clr-neutral-300);
  background-color: transparent;
  margin-inline-start: auto;
  transition: color var(--transition-fast);
}

.clear-btn:hover,
.clear-btn:focus-visible {
  color: var(--clr-primary-200);
  text-decoration: underline;
}

.card-categories .categorie-btn:hover,
.card-categories .categorie-btn:focus-visible {
  color: var(--clr-white);
  background-color: var(--clr-primary-200);
}

/* Job Cards Container */
.job-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.job-cards.filter-off {
  margin-block-start: 3.5rem;
}

/* Card */
.card {
  width: 100%;
  display: grid;
  justify-items: flex-start;
  grid-template-areas: 'post' 'categories';
  position: relative;
  background-color: var(--clr-white);
  border-radius: var(--border-r);
  box-shadow: var(--card-shadow);
  padding: 2rem 1.5rem 1.5rem;
}

.card::before {
  content: '';
  display: none;
  width: 0.313rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--clr-primary-200);
  border-radius: 0.313rem 0 0 0.313rem;
}

.card.highlight::before {
  display: block;
}

.card-logo {
  width: 3rem;
  display: flex;
  position: absolute;
  top: -1.5rem;
  left: 1.5rem;
  grid-area: logo;
}

.card-logo img {
  width: 100%;
}

.card-post {
  width: 100%;
  grid-area: post;
}

.card-header {
  min-height: 1.5rem;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 0.5rem 1rem;
  margin-block-end: 0.75rem;
}

.company {
  font-size: clamp(0.875rem, 3vw, 0.938rem);
  color: var(--clr-primary-200);
}

.tags {
  display: flex;
  column-gap: 0.5rem;
}

.tag {
  height: 1.5rem;
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: 500;
  border-radius: 0.75rem;
  padding-inline: 0.563rem;
}

.tag p {
  position: relative;
  top: 7px;
}

.new {
  background-color: var(--clr-primary-200);
}

.featured {
  background-color: var(--clr-neutral-500);
}

.position {
  display: inline-block;
  color: var(--clr-neutral-500);
  font-size: 0.875rem;
  text-decoration: none;
  margin-block-end: 1rem;
  transition: color var(--transition-fast);
}

.position:hover,
.position:focus-visible {
  color: var(--clr-primary-200);
}

.card-infos {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  position: relative;
  color: var(--clr-neutral-300);
  font-size: 0.75rem;
  font-weight: 500;
  padding-block-end: 0.875rem;
}

.card-infos p {
  display: inline-flex;
}

.card-infos p:nth-child(1)::after,
.card-infos p:nth-child(2)::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  position: relative;
  top: 3px;
  background-color: var(--clr-neutral-300);
  border-radius: 50%;
  margin-inline: 0.5rem;
}

.card-categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-top: 1px solid var(--clr-neutral-300);
  padding-block-start: 1rem;
  grid-area: categories;
}

/*******************************************/
/* Footer */
footer {
  padding: 2.5rem 1.5rem 1rem;
  margin-block-start: auto;
}

.attribution {
  color: var(--clr-neutral-500);
  font-size: clamp(0.75rem, 2vw, 0.875rem);
  text-align: center;
  line-height: 1.7em;
}

.attribution a {
  color: var(--clr-neutral-500);
  text-decoration: none;
  opacity: 0.9;
}

.attribution a:hover,
.attribution a:focus-visible {
  text-decoration: underline;
  opacity: 1;
}

.fa-heart {
  color: var(--clr-primary-200);
}

/*******************************************/
/* Media Queries */
@media (min-width: 375px) {
  button {
    font-size: clamp(0.813rem, 3vw, 0.875rem);
  }

  .categorie-btn {
    height: 2rem;
  }

  .filter {
    flex-wrap: nowrap;
  }

  .position {
    font-size: clamp(0.938rem, 3vw, 1rem);
  }

  .card-infos {
    font-size: 0.875rem;
    padding-block-end: 1.25rem;
  }

  .card-infos p:nth-child(1)::after,
  .card-infos p:nth-child(2)::after {
    top: 5px;
  }
}

@media (min-width: 700px) {
  .filter {
    margin-block-end: 0.25rem;
  }

  .job-cards.filter-off {
    margin-block-start: 4.75rem;
  }

  .card {
    justify-items: flex-start;
    align-items: center;
    gap: 1.5rem;
    grid-auto-columns: 5.5rem 1fr;
    grid-template-areas: 'logo post' 'categories categories';
  }

  .card-logo {
    width: 5.5rem;
    position: static;
  }

  .card-post {
    justify-self: flex-start;
  }

  .position {
    margin-block-end: 0.75rem;
  }

  .card-infos {
    padding-block-end: 0;
  }

  .card-categories {
    justify-self: flex-start;
  }
}

@media (min-width: 950px) {
  body::before {
    background-image: url('../images/bg-header-desktop.svg');
  }

  .card {
    grid-auto-columns: 5.5rem max-content 1fr;
    grid-template-areas: 'logo post categories';
    padding: 2.5rem 2rem;
  }

  .card-logo {
    width: 5.5rem;
    position: static;
  }

  .card-categories {
    width: auto;
    justify-content: flex-end;
    justify-self: flex-end;
    border-top: none;
    padding-block-start: 0;
  }
}
